<div class="list-group-item" >
    <div 
        *ngFor = "let post of tabPostItem"
         [ngClass]= "{ '  list-group-item-primary ': post.loveIts === 0,
                       '  list-group-item-success'  : post.loveIts > 0,
                       '  list-group-item-danger'   : post.loveIts < 0 }" >
        <h2 [ngStyle]="{'display': 'inline'}">
          {{post.title}}
        </h2>
        
        <div [ngStyle]="{'display': 'inline', 'float': 'right'}">
            {{ post.created_at | date: 'short' }}
        </div>

        <p [ngStyle]="{ 'padding-top': '10px' }">
          {{ post.content }}
        </p>

        <button class="btn btn-success"
                (click)="post.loveIts = post.loveIts + 1"
               >
                LoveIt {{post.loveIts}}
        </button>

        <button class="btn btn-danger" 
                (click)="post.loveIts = post.loveIts - 1">
                Don't loveIt
        </button>

        


    </div>
</div>
